body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:317px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:281px;
  top:380px;
  width:353px;
  height:317px;
}
#u238 {
  position:absolute;
  left:2px;
  top:150px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:249px;
  background:inherit;
  background-color:rgba(153, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  position:absolute;
  left:281px;
  top:131px;
  width:353px;
  height:249px;
}
#u240 {
  position:absolute;
  left:2px;
  top:116px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u241 {
  position:absolute;
  left:589px;
  top:138px;
  width:35px;
  height:35px;
}
#u242 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u243 {
  position:absolute;
  left:422px;
  top:179px;
  width:71px;
  height:70px;
}
#u244 {
  position:absolute;
  left:2px;
  top:27px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:416px;
  top:256px;
  width:84px;
  height:25px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background-color:#99FFCC;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u246 {
  position:absolute;
  left:409px;
  top:281px;
  width:106px;
  height:18px;
}
#u246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background-color:#99FFCC;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u247 {
  position:absolute;
  left:309px;
  top:333px;
  width:25px;
  height:18px;
}
#u247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background-color:#99FFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u248 {
  position:absolute;
  left:400px;
  top:333px;
  width:24px;
  height:18px;
}
#u248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background-color:#99FFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u249 {
  position:absolute;
  left:489px;
  top:333px;
  width:25px;
  height:18px;
}
#u249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background-color:#99FFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u250 {
  position:absolute;
  left:573px;
  top:333px;
  width:42px;
  height:18px;
}
#u250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background-color:#99FFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u251 {
  position:absolute;
  left:313px;
  top:307px;
  width:19px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u253 {
  position:absolute;
  left:404px;
  top:307px;
  width:19px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u255 {
  position:absolute;
  left:493px;
  top:307px;
  width:19px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u257 {
  position:absolute;
  left:580px;
  top:307px;
  width:19px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u259 {
  position:absolute;
  left:537px;
  top:138px;
  width:32px;
  height:35px;
}
#u260 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:300px;
  top:359px;
  width:316px;
  height:42px;
}
#u262 {
  position:absolute;
  left:2px;
  top:13px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  position:absolute;
  left:301px;
  top:424px;
  width:316px;
  height:65px;
}
#u264 {
  position:absolute;
  left:2px;
  top:24px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:352px;
  top:361px;
  width:185px;
  height:38px;
}
#u265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u266 {
  position:absolute;
  left:308px;
  top:432px;
  width:44px;
  height:18px;
}
#u266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background-color:#F2F2F2;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u267 {
  position:absolute;
  left:301px;
  top:456px;
  width:315px;
  height:1px;
}
#u268 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u269 {
  position:absolute;
  left:597px;
  top:432px;
  width:11px;
  height:18px;
}
#u270 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:308px;
  top:465px;
  width:61px;
  height:18px;
}
#u271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u272 {
  position:absolute;
  left:409px;
  top:465px;
  width:76px;
  height:18px;
}
#u272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u273 {
  position:absolute;
  left:281px;
  top:656px;
  width:353px;
  height:1px;
}
#u274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u275 {
  position:absolute;
  left:384px;
  top:465px;
  width:1px;
  height:18px;
}
#u276 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#99FF66;
}
#u277 {
  position:absolute;
  left:547px;
  top:461px;
  width:56px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#99FF66;
}
#u278 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  position:absolute;
  left:301px;
  top:496px;
  width:315px;
  height:96px;
}
#u280 {
  position:absolute;
  left:2px;
  top:40px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u281 {
  position:absolute;
  left:301px;
  top:528px;
  width:315px;
  height:1px;
}
#u282 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:308px;
  top:503px;
  width:44px;
  height:18px;
}
#u283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u284 {
  position:absolute;
  left:309px;
  top:564px;
  width:42px;
  height:18px;
}
#u284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u285 {
  position:absolute;
  left:395px;
  top:564px;
  width:43px;
  height:18px;
}
#u285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u286 {
  position:absolute;
  left:480px;
  top:564px;
  width:39px;
  height:18px;
}
#u286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u287 {
  position:absolute;
  left:560px;
  top:564px;
  width:44px;
  height:18px;
}
#u287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  position:absolute;
  left:303px;
  top:600px;
  width:313px;
  height:71px;
}
#u289 {
  position:absolute;
  left:2px;
  top:28px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:308px;
  top:606px;
  width:33px;
  height:18px;
}
#u290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u291 {
  position:absolute;
  left:303px;
  top:624px;
  width:313px;
  height:1px;
}
#u292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u293 {
  position:absolute;
  left:433px;
  top:193px;
  width:49px;
  height:43px;
}
#u294 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u295 {
  position:absolute;
  left:318px;
  top:540px;
  width:25px;
  height:24px;
}
#u296 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u297 {
  position:absolute;
  left:404px;
  top:540px;
  width:23px;
  height:23px;
}
#u298 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u299 {
  position:absolute;
  left:487px;
  top:540px;
  width:25px;
  height:24px;
}
#u300 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u301 {
  position:absolute;
  left:569px;
  top:540px;
  width:25px;
  height:24px;
}
#u302 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u303 {
  position:absolute;
  left:309px;
  top:361px;
  width:33px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
