body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u699 {
  position:absolute;
  left:32px;
  top:320px;
  width:50px;
  height:50px;
}
#u700 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u701 {
  position:absolute;
  left:268px;
  top:320px;
  width:50px;
  height:50px;
}
#u702 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u703 {
  position:absolute;
  left:152px;
  top:320px;
  width:50px;
  height:50px;
}
#u704 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u705 {
  position:absolute;
  left:132px;
  top:288px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:42px;
}
#u708 {
  position:absolute;
  left:2px;
  top:13px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u709 {
  position:absolute;
  left:7px;
  top:6px;
  width:14px;
  height:26px;
}
#u710 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:28px;
  top:8px;
  width:37px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u712 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:62px;
  top:123px;
  width:232px;
  height:29px;
}
#u714 {
  position:absolute;
  left:2px;
  top:6px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:71px;
  top:125px;
  width:214px;
  height:25px;
}
#u715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  position:absolute;
  left:62px;
  top:167px;
  width:232px;
  height:29px;
}
#u717 {
  position:absolute;
  left:2px;
  top:6px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718 {
  position:absolute;
  left:71px;
  top:169px;
  width:214px;
  height:25px;
}
#u718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
}
#u719 {
  position:absolute;
  left:62px;
  top:204px;
  width:232px;
  height:29px;
}
#u720 {
  position:absolute;
  left:2px;
  top:6px;
  width:228px;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u721 {
  position:absolute;
  left:62px;
  top:243px;
  width:57px;
  height:20px;
  color:#00CC00;
}
#u722 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u723 {
  position:absolute;
  left:237px;
  top:243px;
  width:57px;
  height:20px;
  color:#00CC00;
}
#u724 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:627px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:434px;
  top:148px;
  width:353px;
  height:627px;
}
#u726 {
  position:absolute;
  left:2px;
  top:306px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u727 {
  position:absolute;
  left:466px;
  top:504px;
  width:50px;
  height:56px;
}
#u728 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u729 {
  position:absolute;
  left:702px;
  top:504px;
  width:50px;
  height:56px;
}
#u730 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:56px;
}
#u731 {
  position:absolute;
  left:586px;
  top:504px;
  width:50px;
  height:56px;
}
#u732 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u733 {
  position:absolute;
  left:566px;
  top:468px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:434px;
  top:148px;
  width:353px;
  height:47px;
}
#u736 {
  position:absolute;
  left:2px;
  top:16px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:29px;
}
#u737 {
  position:absolute;
  left:441px;
  top:155px;
  width:14px;
  height:29px;
}
#u738 {
  position:absolute;
  left:2px;
  top:6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:462px;
  top:157px;
  width:37px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u740 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  position:absolute;
  left:496px;
  top:285px;
  width:232px;
  height:32px;
}
#u742 {
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:505px;
  top:287px;
  width:214px;
  height:28px;
}
#u743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:28px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:496px;
  top:334px;
  width:232px;
  height:32px;
}
#u745 {
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746 {
  position:absolute;
  left:505px;
  top:336px;
  width:214px;
  height:28px;
}
#u746_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:28px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
}
#u747 {
  position:absolute;
  left:496px;
  top:375px;
  width:232px;
  height:32px;
}
#u748 {
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u749 {
  position:absolute;
  left:496px;
  top:418px;
  width:57px;
  height:20px;
  color:#00CC00;
}
#u750 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u751 {
  position:absolute;
  left:671px;
  top:418px;
  width:57px;
  height:20px;
  color:#00CC00;
}
#u752 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
